@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* reset End */
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 540px;
  }
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ac8a46;
}

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

h1,
.h1 {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 560px) {
  h1,
  .h1 {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h2,
  .h2 {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 24px;
}

@media (max-width: 768px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

h4,
.h4 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.font-md {
  font-size: 28px;
}

.fw-bold {
  font-weight: bold;
}

.link-border {
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.pc-none,
.menu-mb {
  display: none;
}

@media (max-width: 768px) {
  .pc-none,
  .menu-mb {
    display: block;
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 48px;
}

.mb-11 {
  margin-bottom: 56px;
}

.mb-12 {
  margin-bottom: 64px;
}

.material-icons {
  vertical-align: bottom;
}

.nav-btn {
  background: #fff;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.logo a,
.footer_logo a {
  display: block;
  width: 128px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%;
  background-image: url(../images/d’Perfume.png);
}

.bg-primary {
  background: #916000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.max-w-445 {
  max-width: 445px;
}

.max-w-350 {
  max-width: 350px;
}

.w-100 {
  width: 100%;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.btn-lg {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
}

.rounded-pill {
  border-radius: 50rem;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
}

.btn-outline-white:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.text-white {
  color: #ffffff;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ol li::marker {
  font-weight: bold;
}

.header .menu a {
  display: block;
  position: relative;
  color: #8d8d8d;
  font-weight: normal;
  font-size: 20px;
  padding: 15px;
}

@media (max-width: 768px) {
  .header .menu a {
    font-size: 18px;
  }
}

.header .menu a:hover {
  color: #b1b1b1;
}

.header .menu small {
  top: 10px;
  right: 10px;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .header .menu small {
    display: block;
  }
}

@media (max-width: 768px) {
  .header .menu span {
    display: none;
  }
}

@media (max-width: 768px) {
  .header .menu span.cart-icon {
    display: block;
    font-size: 25px;
    margin-right: 0;
  }
}

.menu-mb {
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}

.menu-mb li a {
  display: block;
  background: #707070;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 13px 0;
  font-weight: normal;
}

.menu-mb li a:hover {
  background: #8a8a8a;
}

.showmenu {
  margin-top: 0;
  margin-left: 19px;
  color: #8d8d8d;
  font-size: 32px;
}

@media (max-width: 768px) {
  .showmenu {
    display: block;
  }
}

/*jQ點擊後動態在 menu-mb 加上 class */
.menu-mb.active {
  max-height: 300px;
}

.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/banner.jpg");
  height: 840px;
}

@media (max-width: 560px) {
  .banner {
    background-image: url("../images/banner-mb.jpg");
    height: 480px;
  }
}

.topProduct {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 560px) {
  .topProduct {
    padding-top: 40px;
    padding-bottom: 8px;
  }
}

.topProduct-rowReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 560px) {
  .topProduct-rowReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topProduct-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .topProduct-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topProduct-row .topProduct-img {
  width: 50%;
}

@media (max-width: 560px) {
  .topProduct-row .topProduct-img {
    width: 100%;
  }
}

.topProduct-content {
  width: 50%;
}

@media (max-width: 560px) {
  .topProduct-content {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.topProduct-text {
  max-width: 350px;
}

@media (max-width: 768px) {
  .topProduct-text {
    max-width: 300px;
    padding: 8px;
  }
}

@media (max-width: 560px) {
  .topProduct-text {
    max-width: 350px;
    padding: 0;
  }
}

.topProduct-text a {
  margin-top: 16px;
}

.topProduct-text a:hover {
  -webkit-text-decoration: underline #ac8a46;
          text-decoration: underline #ac8a46;
}

.topProduct-text p {
  font-family: "PingFang TC";
}

@media (max-width: 768px) {
  .topProduct-text p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .topProduct-text ol li {
    margin-bottom: 28px;
  }
}

@media (max-width: 768px) {
  .topProduct-text ol li p {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .topProduct-text ol li p {
    font-size: 16px;
  }
}

.link-border {
  color: #000000;
  border: 2px solid #000000;
  margin-top: 8px;
  font-size: 20px;
  padding: 12px 0;
}

@media (max-width: 768px) {
  .link-border {
    font-size: 18px;
    padding: 8px 0;
  }
}

.link-border:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.product {
  background-color: #e0e0e0;
  padding: 40px 0;
}

@media (max-width: 560px) {
  .product {
    padding: 16px 0;
  }
}

.product-content li {
  width: 30%;
}

@media (max-width: 560px) {
  .product-content li {
    width: 100%;
    margin: 16px 0;
  }
}

.price {
  margin-top: 16px;
}

@media (max-width: 560px) {
  .price {
    margin-top: 4px;
  }
}

.price span {
  color: #8d8d8d;
  text-decoration: line-through;
  margin-left: 8px;
}

.sold-out::before {
  content: "Sold Out";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  max-width: 350px;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.recycling {
  padding: 60px 0;
}

@media (max-width: 560px) {
  .recycling {
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recycling a:hover {
  -webkit-text-decoration: underline #ac8a46;
          text-decoration: underline #ac8a46;
}

@media (max-width: 992px) {
  .recycling .recycling-img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .recycling .recycling-img {
    width: 50%;
  }
}

@media (max-width: 560px) {
  .recycling .recycling-img {
    width: 100%;
  }
}

.recycling .recycling-text {
  max-width: 350px;
}

@media (max-width: 992px) {
  .recycling .recycling-text {
    width: 35%;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .recycling .recycling-text {
    width: 45%;
    padding: 0 5px;
  }
}

@media (max-width: 560px) {
  .recycling .recycling-text {
    width: 100%;
    padding: 0;
  }
}

.recycling .recycling-text p {
  margin-top: 16px;
}

.subscribe {
  background-image: url("../images/footer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

@media (max-width: 560px) {
  .subscribe {
    background-image: url("../images/footer-mobile.png");
  }
}

.subscribe-content .subscribe-text {
  top: 312px;
  left: 15px;
  max-width: 350px;
}

@media (max-width: 560px) {
  .subscribe-content .subscribe-text {
    width: 100%;
  }
}

.subscribe-title {
  color: #8d8d8d;
  font-family: "PingFang TC", "sans-serif";
}

.mail {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  width: 350px;
  height: 60px;
}

.mail input[type="email"] {
  padding-left: 16px;
  width: 100%;
  border: 2px solid #916000;
  border-radius: 4px 0px 0px 4px;
  background-color: #ffffff;
  color: #8d8d8d;
}

.mail input[type="submit"] {
  border-style: none;
  background: #916000;
  padding: 0 26px;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.mail input[type="submit"]:hover {
  background: #684602;
}

.footer_logo a {
  background-image: url(../images/d’Perfumewhite.png);
}

@media (max-width: 560px) {
  .footer-content .footer_left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  padding: 20px 0 22px 0;
}

.footer p {
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
  font-weight: 500;
}

@media (max-width: 560px) {
  .footer p {
    margin-left: 25px;
  }
}

.footer_list li {
  margin-left: 36px;
}

.footer_list li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  padding: 20px 0 22px 0;
}

.footer_list li a:hover {
  color: #ffffff80;
}
/*# sourceMappingURL=all.css.map */