// $link-color: #3d8be4;
// $font-m: 16px;
// $font-l: $font-m * 2;
// $font-family-base: "Helvetica,Arial,sans-serif";
// $font-family-title: "monospace";

$mb-base: 8px;
$mt-base: 8px;
$ml-base: 8px;
$mr-base: 8px;